nav{background-color: black;}

.col1{background-color: dimgray;}

.col2{background-color:black}




.r1{background-color: darkgrey;}
.form{align-content: center;}

.logo{width:500px;padding-top:60px;}

.col1{background-color: darkgrey;
     height: 400px; padding: 50px; margin-top: 50px;}

.col2{background-color: black;
     height: 450px; padding: 50px; padding-top: 100px}

.imagem1{width: 100%;}

.col3{
     background-color: black;
     padding: 50px;
     height: 400px;
     padding-top: 100px;
     text-align: center;
     color: white;

     }


.col4{
     padding: 0%;
     margin: 0%;

}

h1{text-align: center;}

.container1{height: 500px;
margin: 0%;}

.container-fluid{padding: 0%;

}

.rodape{
     background-color: cornflowerblue;
     width:100%;
     height:400px;
     padding: 150px;



}

.colinst{text-align: left;}

.r7{background-color: cyan;
     width: 100%;
     height: 50%;}


   









     


