/* navbar */
.container-fluid{
    width: 100%;
    height: 44px;

}

body{
    background-color: black;
}

.navbar-brand{
    color: white;
    

}

.espaco{
    width: 100%;
    height: 44px;
}



/* CARROSEL */
.top{
    height: 600px;
    width: 100%;
}


/* conteudos  */

.col1{background-color: transparent;
    background-position-x: center;
    background-size: cover;
    width: 773.5px;
    height: 624px;
}

.conteudo1{
    text-align: center;
    padding: 80px;


}
.titulo{
    text-align: center;
    color: #e76f51;
    
}

.subtitulo{
    color: white;
}

.rowinterna{
    color: white;
    padding-top: 30px;
    width: 100%;
    height: 624px;
    
}

.colint{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100px;
    margin-top: 20px;

}




.col2{background-color:#2a9d8f ;
    background-position-x: center;
    background-size: cover;
    width: 773.5px;
    height: 624px;
}


.col3{background-color: #e9c46a;
    background-position-x: center;
    background-size: cover;
    width: 773.5px;
    height: 624px;
}